language: python
dist: trusty
python:
    - 2.7
addons:
  apt:
    packages:
      - google-chrome-stable
env:
  - TRAVIS_NODE_VERSION="6"
install:
    # Clear out whatever version of NVM Travis has.
    # Grab NVM and Checkout the latest stable tag.
    # Install the desired version of Node
    - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
    #
    # Setup project
    #
    - npm install
    - npm run prepare
    #
    # Clone ng2-app
    #
    - git clone https://github.com/jojanper/ng2-app.git
    - cd ng2-app
    - npm install
    - npm start&
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start &
  - sleep 3
script:
    - npm test
